{% extends "AppBundle:layouts:layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="col-lg-12 box-default">
            <h1 class="box-header">
                Mensajeria Privada
            </h1>

            <div class="col-lg-6">
                <a href="{{ path('private_message_index') }}" class="btn btn-warning">
                    Ver mensajes recibidos
                </a>
            </div>

            <div class="col-lg-6">
                <h4>Mensajes enviados</h4>
                <hr/>

                <div class="box-content box-messages">
                    {% for message in pagination %}
                        <div class="col-lg-12 publication-item">
                            <div class="avatar">
                                {% if message.emitter.image == null %}
                                    <img src="{{ asset('assets/images/default.png' ) }}"/>

                                {% else %}
                                    <img src="{{ asset('uploads/users/'~message.emitter.image ) }}"/>
                                {% endif %}
                            </div>

                            <div class="publication-item-content">
                                <p>
                                    <a class="pub-name-link" href="{{ path('user_profile', { 'nickname': message.emitter.nick } ) }}">
                                        {{ message.emitter.name }} {{ message.emitter.surname }}
                                    </a>
                                    -
                                    Para <a style="font-weight: bold;" href=" {{ path('user_profile', {'nickname': message.receiver.nick} ) }}" >
                                        {{ message.receiver.nick }}
                                        </a>
                                    -
                                    <span class="pub-date">
                                {{ message.createdAt | long_time }}
                            </span>
                                </p>
                                {{ message.message }}


                                {% if(message.file is defined) and (message.file != null) %}
                                    <a href="{{ asset('uploads/messages/documents/'~message.file) }}"
                                       class ="btn-doc glyphicon glyphicon-save" aria-hidden="true" target="_blank">
                                    </a>
                                {% endif %}

                                {% if(message.image is defined) and (message.image != null) %}
                                    <a href="{{ asset('uploads/messages/images/'~message.image) }}"
                                       class ="btn-doc glyphicon glyphicon-picture" aria-hidden="true" target="_blank">
                                    </a>
                                {% endif %}

                            </div>
                            <div class="clearfix"></div>
                            <hr/>
                        </div>
                    {% endfor %}

                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>

                </div>

            </div>


            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}