{% extends "AppBundle:layouts:layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="col-lg-12 box-default box-notifications">
            <h1 class="box-header">Notificaciones</h1>

            <div class="box-content">
                {% for notification in pagination %}
                    <div class="col-lg-12 notification-item">
                        <div class="alert alert-default">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>

                            {% set notu = notification.typeId | get_user %}

                            {% if notification.type=="follow" %}
                              <a href="{{ path('user_profile',{'nickname': notu.nick}) }}" >  {{ notu.name }} {{ notu.surname }} </a> usuario te está siguiendo
                            {% endif %}

                            {% if notification.type=="like" %}
                                <a href="{{ path('user_profile',{'nickname': notu.nick}) }}" >  {{ notu.name }} {{ notu.surname }} </a>  usuario le  gusta una publicacion tuya
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}